{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },

  "rules": {
      "indent": ["warn", 4],
      "no-shadow": "off",
      "no-confusing-arrow": ["error", {"allowParens": true}],
      "prefer-object-spread": "off"
  }
}
